* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  color: #f3f3f3;
  background-color: #f3f3f3;
  font-family: sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  margin: 40px auto;
}

div.container {
  width: 100%;
  max-width: 640px;
  margin: 90px auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 440px;
  filter: drop-shadow(0px 0px 10px gray);
  border: 5px solid goldenrod;
  border-radius: 5px;
  overflow: hidden;
}

div.slider {
  display: flex;
  position: absolute;
}

div.slider img {
  z-index: -1;
  width: 640px;
}

i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3em;
  opacity: 40%;
  z-index: 10;
}

i:hover {
  opacity: 100%;
}

i:first-child {
  left: 5px;
}

i:last-child {
  left: 575px;
}

div.thumbnails {
  position: relative;
  width: 640px;
  display: flex;
  margin: 20px auto;
  justify-content: space-between;
}

div.thumbnails img {
  width: 150px;
}